
@font-face {
    font-family: 'DMSans'; /* Choose a name for your font */
    src: url('DMSans.ttf');
    font-weight: 400; /* Or specify a weight like bold, 700, etc. */
    font-style: normal; /* Or specify italic */
}

.topnav {
  overflow: hidden;
  font-family: 'DMSans', sans-serif;
  background-color: #242423;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px, 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  /* background-color: #ddd; */
  color: #f5cb5c;
}
h2 {
 font-family: 'DMSans', sans-serif

}
p {
 font-family: 'DMSans', sans-serif

}
